<div class="pricing-header px-3 py-3 mx-auto text-center w-50">
	<h1 class="display-4">XML Reader</h1>
	<p class="lead">Making a tool to export a Moodle Backup File to Firebase Project, using Firestore, Relatime Database &
		Firestorage</p>
</div>

<div class="container">
	<div class="nav-scroller py-1 mb-2">
		<nav class="nav d-flex justify-content-between">
			<a class="p-2 text-muted" routerLinkActive="active" [routerLink]="[ '/main' ]">Main</a>
			<a class="p-2 text-muted" routerLinkActive="active" [routerLink]="[ '/community' ]">Comunidad (Comunidades)</a>
			<a class="p-2 text-muted" routerLinkActive="active" [routerLink]="[ '/units' ]">Unidades (Unit)</a>
			<a class="p-2 text-muted" routerLinkActive="active" [routerLink]="[ '/topics' ]">Temas (Topic)</a>
			<a class="p-2 text-muted" routerLinkActive="active" [routerLink]="[ '/resources' ]">Recursos (Resources)</a>
		</nav>
	</div>

	<div class="row">
		<div class="col-12">

			<router-outlet></router-outlet>

		</div>
	</div>
</div>
