<div class="alert alert-warning">
	Elimina los archivos que no deseas subir... baja, revisa y continua para subir todo!!!
</div>
<ng-container *ngIf="continue; else elseTemplate">

	<button class="btn btn-lg btn-primary btn-block mb-4" [routerLink]="[ '/end' ]">¡¡¡Subir todo!!!</button>

	<div *ngFor="let section of sections">
		<div class="card border-dark mb-3">
			<div class="card-header">[{{ section.index }}] "{{ section.name }}"
				<button class="btn-sm float-right btn btn-danger" (click)="removeSection(section)">Eliminar Sección</button>
			</div>
			<div class="card-body text-dark">
				<div *ngFor="let topic of section.topics">
					<ul class="list-unstyled">
						<li class="media">
							<img src="assets/{{ topic.type }}.svg" style="max-height: 25px;" class="mr-3" alt="...">
							<div class="media-body">
								<h5 class="mt-0 mb-1 py-1"><small>[{{ topic.index }}]</small> "{{ topic.name }}", <small class="text-warning">sus
										recursos</small>
									<button class="btn btn-sm float-right btn-outline-dark" (click)="deleteTopic(topic)">Eliminar Topico</button>
								</h5>
								<div *ngFor="let resource of topic.resources">
									<ul class="list-unstyled">
										<li>
											<small class="block">[{{ resource.index }}] - "{{ resource.name }}" ({{ resource.fileSize | fileSize }})</small>
											<app-file-type-display [resource]="resource"></app-file-type-display>
											<div class="btn-group btn-group-sm block" role="group" aria-label="Basic example">
												<button type="button" (click)="deleteFromResources(resource)" class="btn btn-danger">Eliminar</button>
											</div>
										</li>
									</ul>
									<hr>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</ng-container>
<ng-template #elseTemplate>
	Espere mientras mostramos todo
</ng-template>
