<div class="row">
	<div class="col-12"><h4>{{ section.name }}</h4></div>
	<div class="col-6">
		<h5 class="border-bottom">Lista de Topicos</h5>
		<div *ngFor="let topic of section.topics">
			<ul class="list-unstyled">
				<li class="media">
					<img src="assets/{{ topic.type }}.svg" style="max-height: 25px;" class="mr-3">
					<div class="media-body">
						<h5 class="mt-0 mb-1"><small>{{ topic.index }}</small> {{ topic.name }} </h5>
						<small>{{ topic.objective }}</small>
					</div>
					<hr>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-6">
		<h5 class="border-bottom">Lista de Archivos Asociados a la Unidad</h5>
		<div class="block" *ngFor="let resource of section.files">
			<app-file-type-display [resource]="resource"></app-file-type-display>
		</div>
	</div>
</div>
