<p>Los archivos del backup deben estar ubicados en <code>src/assets/backup_folder</code>, dentro de este directorio se deben encontrar los archivos <code>files.xml, moodle_backup.xml</code> entre otros y algunas carpetas como <code>files, sections, course, activities</code></p>
<p>
	Estos directorios y archivos deben existir: <br>
	<code>(dir_proyecto)/src/assets/backup_folder</code> <br>
	<code>(dir_proyecto)/src/assets/backup_folder/files</code> <br>
	<code>(dir_proyecto)/src/assets/backup_folder/moodle_backup.xml</code> <br>
	<code>(dir_proyecto)/src/assets/backup_folder/files.xml</code> <br>
	<code>(dir_proyecto)/src/assets/backup_folder/questions.xml</code> <span class="badge badge-light">opcional</span>
</p>
<ng-container *ngIf="canGo; else elseTemplate">
	<div class="alert alert-primary">
		- El documento XML fue leido correctamente <br>
		- El Griky UID fue verificado, puede <a class="alert-link" [routerLink]="[ '/community' ]">Continuar</a>
	</div>
	<hr>
	<p>Contenido del archivo principal del backup <code>moodle_backup.xml</code></p>
	<ngx-json-viewer [json]="main" [expanded]="false"></ngx-json-viewer>
	<hr>
	<!-- <p>Selecciona el archivo <code>files.xml</code>, que contiene las especificaciones de los recursos de este curso</p> -->
</ng-container>

<ng-template #elseTemplate>
	<div class="alert alert-danger">
		No se puedieron leer los archivos. Asegurate que se encuentren en el directorio correcto
	</div>
</ng-template>
